Job Automation.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -32
      ],
      "id": "1f96305f-8376-4e24-9eb6-1ce99f16370c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw",
          "mode": "list",
          "cachedResultName": "auto app",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -32
      ],
      "id": "6b571138-081e-43b3-9a32-42a4c90e26d1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1BU90lKbTOLVDRF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Company Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        -32
      ],
      "id": "de692e8e-1d1e-415b-8a57-b27ed958c5a5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/jrC7bMqv9I2WIqrX.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        544,
        -32
      ],
      "id": "5dd9f183-ab8f-4a8f-884e-0dc55758f24b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 25
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        -32
      ],
      "id": "d276d333-767d-4f41-8a08-3ee9bd7a01a7",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n    const content = item?.json?.choices?.[0]?.message?.content;\n\n    try {\n        if (content) {\n            const contentJson = JSON.parse(content);\n            // Replace the original content with parsed JSON\n            item.json.choices[0].message.content = contentJson;\n        }\n    } catch (error) {\n        console.log(\"Error parsing content to JSON:\", error);\n    }\n\n    return item; // Return the updated item in the map\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -32
      ],
      "id": "7e27aa4c-52bf-448a-acfb-0d624a04db89",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Google Search Expert. Please convert this job title to natural language on querying the following 3 items: 1) HR email of the company, 2) the company Name and 3) the company summary.\nReturn in JSON format:\n{{ $json.title }}\n{{ $json.content }}\n{{ $json.pubDate }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        960,
        -32
      ],
      "id": "00fb3749-6479-4c5f-8694-f7a1083b961b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        176
      ],
      "id": "53581ecb-0a5c-4e8b-b5db-a02bfe9dd6ea",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VJSDCPY97CcukIE3",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw",
          "mode": "list",
          "cachedResultName": "auto app",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn link": "={{ $('RSS Read').item.json.link }}",
            "Company Name": "={{ $('RSS Read').item.json.title }}",
            "Company Summary": "={{ $('RSS Read').item.json.content }}",
            "Publish Date (as on LinkedIn snippet)": "={{ $('RSS Read').item.json.pubDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "#",
              "displayName": "#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Email",
              "displayName": "Company Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Summary",
              "displayName": "Company Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publish Date (as on LinkedIn snippet)",
              "displayName": "Publish Date (as on LinkedIn snippet)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn link",
              "displayName": "LinkedIn link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        -32
      ],
      "id": "9470d00c-8c4a-4fed-9595-562395db8237",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1BU90lKbTOLVDRF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        544,
        496
      ],
      "id": "5c693817-73a0-4513-a90f-a09af840490c",
      "name": "When chat message received",
      "webhookId": "4ff10ac2-75b2-42ec-a108-6af0caff6409"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get all job records",
        "documentId": {
          "__rl": true,
          "value": "1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw",
          "mode": "list",
          "cachedResultName": "auto app",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        912,
        864
      ],
      "id": "91ec8ad1-1d56-47e8-97f6-d267bbe62b57",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1BU90lKbTOLVDRF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "=\nYou are a helpful job application assistant.\nYou will use the following tools to perform specific tasks:\n1. Get Job Record from Google Sheet\nYou can get relevant data in the following columns:\nTitle\nCompany Name Company Email\nCompany Summary\nPublish Date\nLinkedin Link\nStatus\n2. Send email\n- Please use the following cover letter template, here is a cover letter format example.\n- Please customize each cover letter based on the company description and my own experience and skills set (can be found in the \"Personal Information\" tool )\n\"Andy Lo\n+852 01220642\nnew york\"\n\nDear Hiring Manager,\nI’m excited about the possibility of working as a dental hygienist at Crane & Jenkins. As a person who is detail-oriented and intuitive, I excel in meeting the needs of my dental patients, finishing appointments ahead of schedule, and applying improved methods to ensure the best results during cleanings. I would love the opportunity to offer my talents to Crane & Jenkins, a leading dental provider in the area.\nDuring my previous employment at River Tech, I acted as the dental hygienist for two dentists, educated patients regarding their oral health, and helped select software to streamline the appointment booking process. When a new system was implemented to book appointments, I went above and beyond by obtaining the manufacturer’s certification, which allowed me to train dental assistants and other hygienists on the system. The new system increased the number of appointments by 40%.\nI am attentive to the needs of my patients and strive to create a relaxing environment and to ensure their comfort during cleanings. As a consummate professional, I enjoy challenging cases. For instance, many of my patients at River Tech had advanced gingivitis, so I became extremely vigilant to any signs of pain or distress. To ensure a high level of cleanliness, I also meticulously cleaned my instruments and the equipment and fixtures in the treatment rooms.\nThank you for your time and attention. I can’t wait to hear more details about the dental hygienist position at Crane & Jenkins. Growth is vital to my success as a dental hygienist, and I am committed to applying my skills and experience to support dentists and future patients.\nSincerely,\nSofia Flores"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        496
      ],
      "id": "52422c2d-1ed7-40cb-afdd-bb0a1e44c283",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        688
      ],
      "id": "9118493c-18d3-4e65-b04e-689a7c9501d7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mqCgJG5Tm5rYsfj6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tsafe15@gmail.com",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        496
      ],
      "id": "e5a39e84-79ee-43de-947e-ba3974c79a66",
      "name": "Send a message",
      "webhookId": "a04a2775-602d-459e-ba69-703123719e7c",
      "credentials": {
        "gmailOAuth2": {
          "id": "BRyRRi7a9T4gS4J0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw",
          "mode": "list",
          "cachedResultName": "auto app",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eyuW99XymxfLkJStn_Zrq9d01zDJGFg-nYwcHnmnRhw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        496
      ],
      "id": "f6ccf673-4e6b-4b56-b940-68c544427cb4",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q1BU90lKbTOLVDRF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28b7325f-5fb3-4f7a-b187-8d0c1024cb1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a574693d36a1cfe83d2a369397db1e406ef349a6dd40f330657f59712ccc4de"
  },
  "id": "MJXHaAzF8r83nMlf",
  "tags": []
}